/**
 * index.scss
 * - Add any styles you want here!
 */

body {
  background: #301934;
}

#parent {
  display: flex;
}

#left {
  margin: 40px;
  flex: 1;
  font-family: Verdana;
  color: white;
  text-align: center;
  vertical-align: middle;
  border-radius: 25px;
  background-color: #443752;
  align-items: center;

}

#right {
  flex: 1;
  margin: 50px;
}

.content {
  margin-top: 50px;
}

#description{
  margin-top: 40px;
  font-family: Verdana;
}

#joke_button5 {
  margin-top: 2px;
}

#joke_button1, #joke_button2, #joke_button3, #joke_button4, #joke_button5 {
  margin-top: 40px;
  color: white;
  background-color: orange;
  border-radius: 10px; 
  font-size: 15px;
  padding: 15px 32px;
  margin-bottom: 10px;
  font-family: Verdana;
  transition: 0.3s;
  opacity: 0.6;
  box-shadow: 0 9px #999;

}

#joke_button1:hover, #joke_button2:hover, #joke_button3:hover, #joke_button4:hover, #joke_button5:hover {
  opacity: 1
}

#joke_button1:active, #joke_button2:active, #joke_button3:active, #joke_button4:active, #joke_button5:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#joke {
  color: white;
  font-family: Verdana;
  align-items: center;
  vertical-align: middle;
  display: block;
  margin-left: 200px;
  margin-bottom: 50px;
}

#image {
  vertical-align: middle;
  align-items: center;
  border: none;
  display: block;
  margin: 0 auto;
}

#otherJoke {
  vertical-align: middle;
  align-items: center;
  display:inline-block;
  margin: 20px;
}

#name {
  margin-bottom: 50px;
}

#joke_button4 {
}

